<!-- <?xml version="1.0" encoding="UTF-8"?>-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.i_mapper.TodoMapper">
    <select id="getTodoList" resultType="com.example.backend.entity.Todo">
        SELECT
            *
        FROM
            todos
    </select>
    <insert id="insertTodo">
        INSERT INTO todos (
            title,
            deadline,
            is_done,
            created_at,
            updated_at
        )
        VALUES (
            #{title},
            #{deadline},
            #{isDone},
            #{createdAt},
            #{updatedAt}
        )
    </insert>
    <delete id="deleteTodo">
        DELETE
            *
        FROM
            todos
        WHERE
            id = {id}
    </delete>
</mapper>
